.right-sidebar {
  position: fixed;
  top: 70px;                 /* Height of your header (adjust if needed) */
  right: 0;

  width: 300px;
  height: calc(100vh - 70px); /* Full height minus header */

  background-color: #e0e0e0;
  padding: 15px;
  overflow-y: hidden; /*fixed, unscrollable.*/

}

.today-performance{
  margin-top: 20px;
}

